/**
 * @name Virtual Boy
 * @author Riddim_GLiTCH
 * @version 1.3.2
 * @description A theme based on a failed Nintendo console with the same name.
 * @source https://github.com/Riddim-GLiTCH/Virtual-Boy
 * @invite aYxpgkvdvR
 * @authorId 801089753038061669
*/

@import url('https://rainloki.github.io/Virtual-Boy-discord-theme-purple/virtual-boy.css');

/* Comment out this line to disable message boxes */
@import url("https://rainloki.github.io/irtual-Boy-discord-theme-purple/MessageBoxes.css");
:root {
  /* Don't like the colors? Change these HSL variables! */
  --VBaccent: 282, 100%, 47%, 1;
  --VBaccent-muted: 282, 100%, 27%, 1, 1;
  --VBaccent-dimmest: 282, 100%, 14%, 1;
  --text-shadow-size: 1px; /*Default: 1px*/
}
